@import url(https://fonts.googleapis.com/css?family=Asap:100,200,300,regular,500,600,700,800,900);

* {
  padding: 0px;
  margin: 0px;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.text-hd-content__button button,
.content__button button,
.portfolio__button button,
.footer__button button {
  background-color: #ffffff00;
  border: solid 1px #4d4d4d;
  font-size: 16px;
  font-family: "Asap";
  color: #4d4d4d;
}

.text-hd-content__button button:hover,
.content__button button:hover,
.portfolio__button button:hover,
.footer__button button:hover {
  background-color: white;
  color: #4d4d4d;
  font-weight: 600;
  border: none;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  background-color: #e0e0e0;
}

@media (max-width: 960px) {
  header .hd-content {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 100px 0px;
  }

  header .content-hd__img {
    margin-bottom: 25px;
  }

  header .content-hd__img img {
    max-width: 100%;
    max-height: 100%;
  }
}

.hd-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-hd {
  text-align: center;
}

.top-hd__link {
  text-decoration: none;
}

.top-hd__icon {
  padding-top: 40px;
}

.top-hd__title {
  font-size: 24px;
  font-family: "Lato";
  color: black;
  text-transform: uppercase;
}

.top-hd__min-title {
  font-size: 6px;
  font-family: "Lato";
  color: black;
  text-transform: uppercase;
}

@media (max-width: 648px) {
  .top-hd .top-hd__icon {
    padding-left: 15px;
  }
}

.menu__body {
  padding: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 38px;
  column-gap: 38px;
}

.menu__item {
  list-style: none;
}

.menu__link {
  position: relative;
  color: #4d4d4d;
  cursor: pointer;
  line-height: 2;
  text-decoration: none;
}

.menu__link::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4d4d4d;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.menu__link:hover:after,
.menu__link:focus:after {
  width: 100%;
}

.menu__burger {
  padding: 15px 15px 0px 15px;
}

.menu__burger span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: rgba(137, 135, 135, 0.8);
  content: "";
  margin-bottom: 5px;
}

@media (max-width: 648px) {
  .menu .menu__body {
    display: none;
  }
}

@media (min-width: 648px) {
  .menu .menu__burger {
    display: none;
  }
}

.hd-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-hd__img img {
  max-width: 575px;
  max-height: 641px;
}

.text-hd-content__title {
  font-size: 80px;
  font-family: "Asap";
  color: #4d4d4d;
  line-height: 0.744;
}

.text-hd-content__min-title {
  font-size: 22px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.541);
  line-height: 3.045;
}

.text-hd-content__button button {
  width: 160px;
  height: 50px;
}

.text-hd-content__button button:nth-child(1) {
  margin-right: 20px;
}

@media (max-width: 960px) {
  main .about-me {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    row-gap: 30px;
  }

  main .about-me__img {
    margin-bottom: 25px;
  }

  main .about-me__img img {
    max-height: 100%;
    max-width: 100%;
  }

  main .content__title::before {
    left: 47%;
  }

  main .content__text {
    max-width: 600px;
  }
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
  column-gap: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  padding: 110px 0px;
}

.about-me__img img {
  max-height: 443px;
  max-width: 571px;
}

.content__title {
  position: relative;
  letter-spacing: 7px;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  line-height: 1.065;
}

.content__title::before {
  position: absolute;
  bottom: 90px;
  display: block;
  left: 0;
  width: 55px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  margin-bottom: 19px;
}

.content__text {
  font-size: 16px;
  font-family: "Asap";
  color: #4d4d4d;
  line-height: 1.625;
}

.content__button {
  margin-top: 38px;
}

.content__button button {
  width: 245px;
  height: 50px;
}

.service {
  background-color: #f6f6f6;
  padding-top: 142px;
  padding-bottom: 120px;
}

.service__body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
}

.service__title {
  letter-spacing: 7px;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  text-align: center;
  margin-bottom: 70px;
}

.service__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  margin-bottom: 19px;
  margin-left: 47.5%;
}

.service .service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 200px;
  column-gap: 200px;
  row-gap: 88px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-service__item {
  width: 200px;
}

.container-service__icon {
  margin-bottom: 20px;
}

.container-service__title {
  font-size: 24px;
  font-family: "Asap";
  color: #4d4d4d;
}

.my-skills__body {
  padding-top: 118px;
  padding-bottom: 125px;
  text-align: center;
  height: auto;
}

.my-skills__title {
  letter-spacing: 7px;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  margin-bottom: 70px;
}

.my-skills__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  margin-bottom: 19px;
  margin-left: 47.5%;
}

.my-skills__img img {
  width: 100%;
  height: 100%;
}

.portfolio {
  background-color: #f6f6f6;
}

.portfolio__body {
  text-align: center;
  padding-top: 150px;
  height: auto;
}

.portfolio__title {
  letter-spacing: 7px;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  margin-bottom: 70px;
}

.portfolio__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  margin-bottom: 19px;
  margin-left: 47.5%;
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.portfolio__button {
  margin-top: 27px;
  padding-bottom: 123px;
}

.portfolio__button button {
  height: 50px;
  width: 190px;
}

.container-portfolio__item img {
  max-height: 316px;
  max-width: 365px;
  width: 100%;
  height: 100%;
}

.testimonials__body {
  height: 711px;
  text-align: center;
}

.testimonials__title {
  letter-spacing: 7px;
  margin-top: 125px;
  font-size: 40px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  margin-bottom: 70px;
}

.testimonials__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  margin-bottom: 19px;
  margin-left: 47.5%;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-column-gap: 30px;
  column-gap: 30px;
  border: 1px solid black;
  padding: 82px 120px;
  margin: 0px 20px;
}

@media (max-width: 960px) {
  .testimonials .container-testimonials {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    padding: 20px 50px;
  }

  .testimonials .button-testimonials {
    margin-top: 30px;
    margin-left: 45%;
  }

  .testimonials .content-testimonials__text {
    overflow: auto;
    height: 100px;
  }
}

.container-testimonials__content {
  margin-top: 10px;
  max-width: 698px;
  max-height: 234px;
}

.content-testimonials__title {
  font-size: 30px;
  font-family: "Asap";
  color: rgba(33, 33, 33, 0.902);
  text-transform: uppercase;
}

.content-testimonials__subtitle {
  font-size: 12px;
  font-family: "Asap";
  color: rgba(33, 33, 33, 0.902);
  font-style: italic;
  text-transform: uppercase;
  line-height: 3;
}

.content-testimonials__text {
  font-size: 16px;
  font-family: "Asap";
  color: rgba(33, 33, 33, 0.6);
  text-transform: uppercase;
  line-height: 2;
}

.content-testimonials__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
  column-gap: 4px;
}

.button-testimonials {
  margin-top: 60px;
  margin-left: 35%;
}

.button-testimonials__item {
  height: 12px;
  width: 12px;
  border: 1px solid black;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.button-testimonials__item:hover {
  background-color: black;
}

.results {
  background-color: #f6f6f6;
}

.results__body {
  height: auto;
}

.results__container {
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 100px;
  -webkit-column-gap: 120px;
  column-gap: 120px;
  text-align: center;
}

.container-results__item {
  width: 200px;
}

.container-results__img {
  margin-bottom: 20px;
}

.container-results__img img {
  height: 98px;
  width: 98px;
}

.container-results__title {
  font-size: 22px;
  font-family: "Asap";
  color: rgba(33, 33, 33, 0.902);
  text-transform: uppercase;
  line-height: 1.455;
}

.container-results__subtitle {
  font-size: 22px;
  font-family: "Asap";
  color: rgba(33, 33, 33, 0.8);
  text-transform: uppercase;
  line-height: 1.455;
}

.footer {
  background: url(../img/contact_bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__body {
  margin-top: 154px;
  padding-top: 120px;
  height: auto;
  text-align: center;
}

.footer__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  margin-bottom: 19px;
}

.footer__title {
  letter-spacing: 7px;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  margin-bottom: 70px;
}

.footer__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  margin-bottom: 19px;
  margin-left: 47.5%;
}

.footer__form {
  padding: 20px;
}

.footer .form-footer__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 25px;
  column-gap: 25px;
  row-gap: 25px;
  margin-bottom: 25px;
}

.footer .form-footer__message {
  height: 207px;
  width: 725px;
  padding: 10px;
}

.footer .name {
  height: 60px;
  width: 350px;
  padding: 10px;
}

.footer .email {
  height: 60px;
  width: 350px;
  padding: 10px;
}

.footer__button {
  margin-top: 30px;
  margin-bottom: 60px;
}

.footer__button button {
  height: 50px;
  width: 124px;
  color: white;
  border: 1px solid white;
}

.footer__button button img {
  padding-left: 5px;
}

.footer .bottom-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .bottom-footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer .bottom-footer__title {
  font-size: 16px;
  font-family: "Montserrat";
  color: white;
  line-height: 4.188;
  margin-right: 480px;
}

.footer .subscribe-footer__item {
  background-color: #fff;
  width: 30px;
  height: 30px;
}

.footer .subscribe-footer__item img {
  padding-top: 10px;
}

.footer .subscribe-footer__item:hover {
  background-color: #2b93e2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1170px) {
  .footer .bottom-footer__body {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer .bottom-footer__subscribe {
    margin: 0px 15px;
  }

  .footer .bottom-footer__title {
    margin: 0px 15px;
  }
}

@media (max-width: 767px) {
  .footer .form-footer__message {
    height: 157px;
    width: 354px;
    padding: 10px;
  }
}

@media (max-width: 490px) {
  .footer .bottom-footer__body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }

  .footer .bottom-footer__subscribe {
    padding-bottom: 15px;
  }

  .footer .bottom-footer__title {
    padding-bottom: 15px;
  }
}