* {
  padding: 0px;
  margin: 0px;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.footer__button button, .portfolio__button button, .content__button button, .text-hd-content__button button {
  background-color: rgba(255, 255, 255, 0);
  border: solid 1px #4d4d4d;
  font-size: 16px;
  font-family: "Asap Medium";
  color: rgb(77, 77, 77);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer__button button:hover, .portfolio__button button:hover, .content__button button:hover, .text-hd-content__button button:hover {
  background-color: white;
  color: rgb(77, 77, 77);
  border: solid 1px white;
  -webkit-box-shadow: 8px 8px 21px 0px rgba(34, 60, 80, 0.12);
          box-shadow: 8px 8px 21px 0px rgba(34, 60, 80, 0.12);
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../fonts/montserrat_regular.eot");
  src: url("../fonts/montserrat_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat_regular.woff2") format("woff2"), url("../fonts/montserrat_regular.woff") format("woff"), url("../fonts/montserrat_regular.ttf") format("truetype"), url("../fonts/montserrat_regular.svg#montserrat_regular") format("svg");
}
@font-face {
  font-family: "Lato Regular";
  src: url("../fonts/lato_regular.eot");
  src: url("../fonts/lato_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato_regular.woff2") format("woff2"), url("../fonts/lato_regular.woff") format("woff"), url("../fonts/lato_regular.ttf") format("truetype"), url("../fonts/lato_regular.svg#lato_regular") format("svg");
}
@font-face {
  font-family: "Lato Light";
  src: url("../fonts/lato_light.eot");
  src: url("../fonts/lato_light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato_light.woff2") format("woff2"), url("../fonts/lato_light.woff") format("woff"), url("../fonts/lato_light.ttf") format("truetype"), url("../fonts/lato_light.svg#lato_light") format("svg");
}
@font-face {
  font-family: "Asap Regular";
  src: url("../fonts/asap_regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/asap_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/asap_regular.woff2") format("woff2"), url("../fonts/asap_regular.woff") format("woff"), url("../fonts/asap_regular.ttf") format("truetype"), url("../fonts/asap_regular.svg#asap_regular") format("svg");
}
@font-face {
  font-family: "Asap Medium";
  src: url("../fonts/asap_medium.eot");
  src: url("../fonts/asap_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/asap_medium.woff2") format("woff2"), url("../fonts/asap_medium.woff") format("woff"), url("../fonts/asap_medium.ttf") format("truetype"), url("../fonts/asap_medium.svg#asap_medium") format("svg");
}
@font-face {
  font-family: "Asap Italic";
  src: url("../fonts/asap_italic.eot");
  src: url("../fonts/asap_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/asap_italic.woff2") format("woff2"), url("../fonts/asap_italic.woff") format("woff"), url("../fonts/asap_italic.ttf") format("truetype"), url("../fonts/asap_italic.svg#asap_italic") format("svg");
}
@font-face {
  font-family: "Asap Bold";
  src: url("../fonts/asap_bold.eot");
  src: url("../fonts/asap_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/asap_bold.woff2") format("woff2"), url("../fonts/asap_bold.woff") format("woff"), url("../fonts/asap_bold.ttf") format("truetype"), url("../fonts/asap_bold.svg#asap_bold") format("svg");
}
@font-face {
  font-family: "FontAwesome Regular";
  src: url("../fonts/fontawesome5freeregular.eot");
  src: url("../fonts/fontawesome5freeregular.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome5freeregular.woff2") format("woff2"), url("../fonts/fontawesome5freeregular.woff") format("woff"), url("../fonts/fontawesome5freeregular.ttf") format("truetype"), url("../fonts/fontawesome5freeregular.svg#fontawesome5freeregular") format("svg");
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  min-width: 360px;
}

body._lock {
  overflow: hidden;
}

header {
  background-color: #e0e0e0;
}
@media (max-width: 962px) {
  header .hd-content {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  header .content-hd__img {
    margin-bottom: 25px;
  }
  header .content-hd__img img {
    max-width: 100%;
    max-height: 100%;
  }
}

.hd-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 20px;
  text-align: center;
}

.top-hd {
  position: relative;
}
.top-hd__link {
  text-decoration: none;
}
.top-hd__icon {
  padding-top: 40px;
}
.top-hd__icon img {
  margin-bottom: 10px;
  width: 24px;
  height: 24px;
}
.top-hd__title {
  font-size: 24px;
  font-family: "Lato Light";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin-bottom: 5px;
}
.top-hd__min-title {
  font-size: 6px;
  font-family: "Lato Regular";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.menu__body {
  padding: 10px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 38px;
     -moz-column-gap: 38px;
          column-gap: 38px;
}
.menu__item {
  list-style: none;
}
.menu__link {
  position: relative;
  color: #4d4d4d;
  cursor: pointer;
  line-height: 2;
  text-decoration: none;
  font-family: "Asap Regular";
  font-style: normal;
}
.menu__link::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #4d4d4d;
  content: "";
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}
.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
}
.menu__burger {
  position: relative;
  padding: 15px 10px 0px 0px;
}
.menu__burger span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: rgba(137, 135, 135, 0.8);
  margin-bottom: 5px;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  z-index: 10;
}
.menu__burger._active span:nth-child(1) {
  position: absolute;
  top: 50%;
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}
.menu__burger._active span:nth-child(2) {
  background-color: rgba(255, 255, 255, 0);
}
.menu__burger._active span:nth-child(3) {
  position: absolute;
  bottom: 50%;
  background-color: white;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}
.menu__burger._active span {
  margin: 0;
}
@media (max-width: 800px) {
  .menu .menu__body {
    display: none;
  }
}
@media (min-width: 800px) {
  .menu .menu__burger {
    display: none;
  }
}

.burger-menu__body {
  background-color: rgba(0, 0, 0, 0.7921568627);
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  padding: 150px 30px 30px 30px;
  -webkit-transition: right 0.3s ease 0s;
  transition: right 0.3s ease 0s;
  text-align: right;
}
.burger-menu ._active {
  right: 0;
}
.burger-menu__item {
  padding: 0px 0px 30px 0px;
}
.burger-menu__link {
  color: white;
  font-size: 26px;
}

.hd-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px 100px 20px;
}

@media (max-width: 490px) {
  .content-hd__text .text-hd-content__title {
    font-size: 70px;
  }
  .content-hd__text .text-hd-content__min-title {
    font-size: 18px;
  }
}
.content-hd__img img {
  max-width: 575px;
  max-height: 641px;
}

.text-hd-content__title {
  font-size: 80px;
  font-family: "Asap Medium";
  color: rgb(77, 77, 77);
  line-height: 0.744;
}
.text-hd-content__min-title {
  font-size: 20px;
  font-family: "Asap Medium";
  color: rgba(77, 77, 77, 0.541);
  line-height: 3.045;
}
.text-hd-content__button button {
  width: 160px;
  height: 50px;
}
.text-hd-content__button button:nth-child(1) {
  margin-right: 20px;
}
@media (max-width: 385px) {
  .text-hd-content .text-hd-content__button button {
    width: 128px;
    height: 50px;
  }
}

@media (max-width: 962px) {
  main .about-me {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    row-gap: 30px;
  }
  main .about-me__img {
    margin-bottom: 25px;
  }
  main .about-me__img img {
    max-height: 100%;
    max-width: 100%;
  }
  main .content__text {
    max-width: 600px;
  }
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  padding: 110px 20px;
}
.about-me__img img {
  max-height: 443px;
  max-width: 571px;
}

.content__title {
  position: relative;
  letter-spacing: 7px;
  font-size: 40px;
  font-family: "Asap Bold";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  line-height: 1.065;
}
.content__title::before {
  position: absolute;
  bottom: 90px;
  display: block;
  width: 55px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  margin-bottom: 19px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
}
.content__text {
  font-size: 16px;
  font-family: "Asap Regular";
  color: rgb(77, 77, 77);
  line-height: 1.625;
}
.content__button {
  margin-top: 38px;
}
.content__button button {
  width: 245px;
  height: 50px;
}
.content__button button:hover {
  background-color: #f6f6f6;
  border: solid 1px #f6f6f6;
}

.service {
  background-color: #f6f6f6;
  padding-top: 142px;
  padding-bottom: 120px;
}
.service__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}
.service__title {
  letter-spacing: 7px;
  position: relative;
  font-size: 46px;
  font-family: "Asap Bold";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  text-align: center;
  margin-bottom: 70px;
}
.service__title::before {
  display: block;
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  bottom: 80px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
}
.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 200px;
     -moz-column-gap: 200px;
          column-gap: 200px;
  row-gap: 88px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.container-service__item {
  width: 200px;
}
.container-service__icon {
  margin-bottom: 20px;
}
.container-service__title {
  font-size: 24px;
  font-family: "Asap Medium";
  color: rgb(77, 77, 77);
}

.my-skills__body {
  padding-top: 118px;
  padding-bottom: 125px;
  text-align: center;
  height: auto;
}
.my-skills__title {
  letter-spacing: 7px;
  font-size: 46px;
  font-family: "Asap Bold";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  margin-bottom: 70px;
  position: relative;
}
.my-skills__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  position: absolute;
  bottom: 80px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
}
.my-skills__img {
  padding: 0px 20px;
}
.my-skills__img img {
  width: 100%;
  height: 100%;
}

.portfolio {
  background-color: #f6f6f6;
}
.portfolio__body {
  text-align: center;
  padding-top: 150px;
  height: auto;
}
.portfolio__title {
  letter-spacing: 7px;
  font-size: 46px;
  font-family: "Asap Bold";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  margin-bottom: 70px;
  position: relative;
}
.portfolio__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  position: absolute;
  bottom: 80px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
}
.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}
.portfolio__button {
  margin-top: 27px;
  padding-bottom: 123px;
}
.portfolio__button button {
  height: 50px;
  width: 190px;
}

.container-portfolio__item img {
  max-height: 316px;
  max-width: 365px;
  width: 100%;
  height: 100%;
}

.testimonials__body {
  height: 711px;
  text-align: center;
}
.testimonials__title {
  letter-spacing: 7px;
  margin-top: 125px;
  font-size: 40px;
  font-family: "Asap Bold";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  margin-bottom: 70px;
  position: relative;
}
.testimonials__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(77, 77, 77, 0.8);
  content: "";
  position: absolute;
  bottom: 80px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
}
.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  border: 1px solid black;
  padding: 82px 120px;
  margin: 0px 20px;
}
@media (max-width: 960px) {
  .testimonials .container-testimonials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 20px 50px;
  }
  .testimonials .button-testimonials {
    margin-top: 30px;
    margin-left: 45%;
  }
  .testimonials .content-testimonials__text {
    overflow: auto;
    height: 100px;
  }
}

.container-testimonials__content {
  margin-top: 10px;
  max-width: 698px;
  max-height: 234px;
}

.content-testimonials__title {
  font-size: 30px;
  font-family: "Asap Medium";
  color: rgba(33, 33, 33, 0.902);
  text-transform: uppercase;
}
.content-testimonials__subtitle {
  font-size: 12px;
  font-family: "Asap Italic";
  color: rgba(33, 33, 33, 0.902);
  font-style: italic;
  text-transform: uppercase;
  line-height: 3;
}
.content-testimonials__text {
  font-size: 16px;
  font-family: "Asap Regular";
  color: rgba(33, 33, 33, 0.6);
  text-transform: uppercase;
  line-height: 2;
}
.content-testimonials__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
}

.button-testimonials {
  margin-top: 60px;
  margin-left: 35%;
}
.button-testimonials__item {
  height: 12px;
  width: 12px;
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-testimonials__item:hover {
  background-color: black;
}

.results {
  background-color: #f6f6f6;
}
.results__body {
  height: auto;
}
.results__container {
  background-color: #f6f6f6;
  padding-top: 75px;
  padding-bottom: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 40px;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  text-align: center;
}

.container-results__item {
  width: 200px;
}
.container-results__img {
  margin-bottom: 20px;
}
.container-results__img img {
  height: 98px;
  width: 98px;
}
.container-results__title {
  font-size: 22px;
  font-family: "Asap Medium";
  color: rgba(33, 33, 33, 0.902);
  text-transform: uppercase;
  line-height: 1.455;
}
.container-results__subtitle {
  font-size: 22px;
  font-family: "Asap Regular";
  color: rgba(33, 33, 33, 0.8);
  text-transform: uppercase;
  line-height: 1.455;
}

.footer {
  background: url(../img/contact_bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.footer__body {
  margin-top: 154px;
  padding-top: 120px;
  height: auto;
  text-align: center;
}
.footer__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  margin-bottom: 19px;
}
.footer__title {
  letter-spacing: 7px;
  font-size: 46px;
  font-family: "Asap Bold";
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.065;
  margin-bottom: 70px;
  position: relative;
}
.footer__title::before {
  display: block;
  width: 60px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  content: "";
  position: absolute;
  bottom: 80px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  left: 50%;
}
.footer__form {
  padding: 20px;
  gap: 30px;
}
.footer .form-footer__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
  margin-bottom: 25px;
}
.footer .form-footer__message {
  height: 211px;
  width: 767px;
  padding: 10px;
  font-size: 16px;
  font-family: "Asap Regular";
  color: rgba(33, 33, 33, 0.8);
}
.footer .name {
  height: 57px;
  width: 370px;
  padding: 10px;
  font-size: 16px;
  font-family: "Asap Regular";
  color: rgba(33, 33, 33, 0.8);
}
.footer .email {
  height: 57px;
  width: 370px;
  padding: 10px;
  font-size: 16px;
  font-family: "Asap Regular";
  color: rgba(33, 33, 33, 0.8);
}
.footer__button {
  margin-top: 30px;
  margin-bottom: 60px;
}
.footer__button button {
  height: 50px;
  width: 124px;
  color: white;
  border: 1px solid white;
}
.footer__button button img {
  padding-left: 5px;
  padding-top: 2.5px;
}
.footer .bottom-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .bottom-footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .bottom-footer__title {
  font-size: 16px;
  font-family: "Montserrat Regular";
  color: rgb(255, 255, 255);
  line-height: 4.188;
  margin-right: 480px;
}
.footer .subscribe-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  text-transform: uppercase;
  width: 30px;
  height: 30px;
  font-size: 16px;
  font-family: "FontAwesome";
  color: rgb(77, 77, 77);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.footer .subscribe-footer__item:hover {
  background-color: rgb(43, 147, 226);
  color: white;
}
@media (max-width: 1170px) {
  .footer .bottom-footer__body {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .bottom-footer__subscribe {
    margin: 0px 15px;
  }
  .footer .bottom-footer__title {
    margin: 0px 15px;
  }
}
@media (max-width: 805px) {
  .footer .form-footer__message {
    width: 100%;
  }
  .footer .form-footer .name {
    width: 100%;
  }
  .footer .form-footer .email {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .footer .bottom-footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .footer .bottom-footer__subscribe {
    padding-bottom: 15px;
  }
  .footer .bottom-footer__title {
    padding-bottom: 15px;
  }
}