%btn {
	button {
		background-color: #ffffff00;
		border: solid 1px #4d4d4d;
		font-size: 16px;
		font-family: "Asap";
		color: rgb(77, 77, 77);
	}
	button:hover {
		background-color: white;
		color: rgb(77, 77, 77);
		font-weight: 600;
		border: none;
		transition: 0.8s;
	}
}
