%btn {
	button {
		background-color: #ffffff00;
		border: solid 1px #4d4d4d;
		font-size: 16px;
		font-family: "Asap Medium";
		color: rgb(77, 77, 77);
		transition: 0.5s;
	}
	button:hover {
		background-color: white;
		color: rgb(77, 77, 77);
		border: solid 1px white;
		box-shadow: 8px 8px 21px 0px rgba(34, 60, 80, 0.12);
	}
}
