.footer {
	background: url(../img/contact_bg.png) no-repeat;
	background-size: cover;
	background-position: center;
	&__body {
		margin-top: 154px;
		padding-top: 120px;
		height: auto;
		text-align: center;
	}
	&__line {
		display: block;
		width: 100%;
		height: 1px;
		background-color: rgba(255, 255, 255, 0.8);
		content: "";
		margin-bottom: 19px;
	}
	&__title {
		letter-spacing: 7px;
		font-size: 46px;
		font-family: "Asap";
		color: rgba(255, 255, 255, 0.8);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.065;
		margin-bottom: 70px;
	}
	&__title::before {
		display: block;
		width: 60px;
		height: 4px;
		background-color: rgba(255, 255, 255, 0.8);
		content: "";
		margin-bottom: 19px;
		margin-left: 47.5%;
	}
	&__form {
		padding: 20px;
	}
	.form-footer {
		&__login {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			column-gap: 25px;
			row-gap: 25px;
			margin-bottom: 25px;
		}

		&__message {
			height: 211px;
			width: 767px;
			padding: 10px;
		}
	}
	.name {
		height: 57px;
		width: 370px;
		padding: 10px;
	}
	.email {
		height: 57px;
		width: 370px;
		padding: 10px;
	}

	&__button {
		@extend %btn;
		margin-top: 30px;
		margin-bottom: 60px;
		button {
			height: 50px;
			width: 124px;
			color: white;
			border: 1px solid white;
			img {
				padding-left: 5px;
			}
		}
	}
	.bottom-footer {
		&__body {
			display: flex;
			text-align: center;
			justify-content: space-between;
		}
		&__subscribe {
			display: flex;
			column-gap: 10px;
			align-items: center;
		}
		&__title {
			font-size: 16px;
			font-family: "Montserrat";
			color: rgb(255, 255, 255);
			line-height: 4.188;
			margin-right: 480px;
		}
	}
	.subscribe-footer {
		&__item {
			background-color: #fff;
			width: 30px;
			height: 30px;
			img {
				padding-top: 10px;
			}
		}
		&__item:hover {
			background-color: rgb(43, 147, 226);
			transition: 0.5s;
		}
	}
	@media (max-width: 1170px) {
		.bottom-footer {
			&__body {
				justify-content: space-around;
			}
			&__subscribe {
				margin: 0px 15px;
			}
			&__title {
				margin: 0px 15px;
			}
		}
	}
	@media (max-width: 800px) {
		.form-footer {
			&__login {
			}

			&__message {
				width: 100%;
			}
			.name {
				width: 100%;
			}
			.email {
				width: 100%;
			}
		}
	}
	@media (max-width: 490px) {
		.bottom-footer {
			&__body {
				justify-content: center;
				flex-wrap: wrap-reverse;
			}
			&__subscribe {
				padding-bottom: 15px;
			}
			&__title {
				padding-bottom: 15px;
			}
		}
	}
}
