body._lock{
	overflow: hidden;
}
header {
	background-color: #e0e0e0;
	@media (max-width: 962px) {
		.hd-content {
			flex-wrap: wrap-reverse;
			justify-content: center;
			text-align: center;
		}
		.content-hd {
			&__text {
			}

			&__img {
				margin-bottom: 25px;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}
.hd-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px 0px 20px;
	text-align: center;
}
.top-hd {
	&__link {
		text-decoration: none;
	}
	&__icon {
		padding-top: 40px;
		img {
			margin-bottom: 10px;
			width: 24px;
			height: 24px;
		}
	}

	&__title {
		font-size: 24px;
		font-family: "Lato Light";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	&__min-title {
		font-size: 6px;
		font-family: "Lato Regular";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
	}
}
.menu {
	&__body {
		padding: 10px;
	}

	&__list {
		display: flex;
		column-gap: 38px;
	}

	&__item {
		list-style: none;
	}

	&__link {
		position: relative;
		color: #4d4d4d;
		cursor: pointer;
		line-height: 2;
		text-decoration: none;
		font-family: "Asap Regular";
		font-style: normal;
	}
	&__link::after {
		display: block;
		position: absolute;
		left: 0;
		width: 0;
		height: 2px;
		background-color: #4d4d4d;
		content: "";
		transition: width 0.3s ease-out;
	}
	&__link:hover:after,
	&__link:focus:after {
		width: 100%;
	}
	&__burger {
		position: relative;
		padding: 15px 10px 0px 0px;
		span {
			display: block;
			width: 35px;
			height: 4px;
			background-color: rgba(137, 135, 135, 0.8);
			margin-bottom: 5px;
			transition: 0.3s ease 0s;
			z-index: 10;
		}
	}
	&__burger._active{
		span:nth-child(1){
			position: absolute;
			top:50%;
			background-color: white;
			transform: rotate(-45deg) translate(0px,-50%);
		}
		span:nth-child(2){
			background-color: rgba(255, 255, 255, 0);
		}
		span:nth-child(3){
			position: absolute;
			bottom: 50%;
			background-color: white;
			transform: rotate(45deg) translate(0px,50%);
		}
		span{
			margin:0;
		}
	}
	
	@media (max-width: 648px) {
		.menu__body {
			display: none;
		}
	}
	@media (min-width: 648px) {
		.menu__burger {
			display: none;
		}
	}
}
.burger-menu {
	&__body {
		background-color: #312d2daf;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 150px 30px 30px 30px;
		transition: left 0.3s ease 0s;
	}
	._active{
		left: 0;
	}

	&__list {
		
	}

	&__item {
		padding: 0px 0px 30px 0px;
	}

	&__link {
		color: white;
		font-size: 26px;
	}
}


.hd-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 20px 100px 20px;
}
.content-hd {
	&__text {
		@media (max-width: 490px) {
			.text-hd-content {
				&__title {
					font-size: 70px;
				}

				&__min-title {
					font-size: 18px;
				}
			}
		}
	}

	&__img {
		img {
			max-width: 575px;
			max-height: 641px;
		}
	}
}

.text-hd-content {
	&__title {
		font-size: 80px;
		font-family: "Asap Medium";
		color: rgb(77, 77, 77);
		line-height: 0.744;
	}

	&__min-title {
		font-size: 20px;
		font-family: "Asap Medium";
		color: rgba(77, 77, 77, 0.541);
		line-height: 3.045;
	}

	&__button {
		@extend %btn;
		button {
			width: 160px;
			height: 50px;
		}
		button:nth-child(1) {
			margin-right: 20px;
		}
	}
	@media (max-width: 385px) {
		.text-hd-content {
			&__button {
				button {
					width: 128px;
					height: 50px;
				}
			}
		}
	}
}
