header {
	background-color: #e0e0e0;
}
.hd-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-hd {
	text-align: center;

	&__link {
		text-decoration: none;
	}
	&__icon {
		padding-top: 40px;
	}

	&__title {
		font-size: 24px;
		font-family: "Lato";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
	}
	&__min-title {
		font-size: 6px;
		font-family: "Lato";
		color: rgb(0, 0, 0);
		text-transform: uppercase;
	}
}
.menu {
	&__body {
		padding: 10px;
	}

	&__list {
		display: flex;
		column-gap: 38px;
	}

	&__item {
		list-style: none;
	}

	&__link {
		position: relative;
		color: #4d4d4d;
		cursor: pointer;
		line-height: 2;
		text-decoration: none;
	}
	&__link::after {
		display: block;
		position: absolute;
		left: 0;
		width: 0;
		height: 2px;
		background-color: #4d4d4d;
		content: "";
		transition: width 0.3s ease-out;
	}
	&__link:hover:after,
	&__link:focus:after {
		width: 100%;
	}
	&__burger {
		padding:15px 15px 0px 0px;
		span {
			display: block;
			width: 35px;
			height: 4px;
			background-color: rgba(137, 135, 135, 0.8);
			content: "";
			margin-bottom: 5px;
		}
	}
	@media (max-width: 648px) {
		.menu__body {
			display: none;
		}
	}
	@media (min-width: 648px) {
		.menu__burger {
			display: none;
		}
	}
}

.hd-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-hd {
	&__img {
		img {
			width: 575px;
			height: 641px;
		}
	}
}

.text {
	&__title {
		font-size: 90px;
		font-family: "Asap";
		color: rgb(77, 77, 77);
		line-height: 0.744;
	}

	&__min-title {
		font-size: 22px;
		font-family: "Asap";
		color: rgba(77, 77, 77, 0.541);
		line-height: 3.045;
	}

	&__button {
		@extend %btn;
		button {
			width: 160px;
			height: 50px;
		}
		button:nth-child(1) {
			margin-right: 20px;
		}
	}
}
