@import url(https://fonts.googleapis.com/css?family=Asap:100,200,300,regular,500,600,700,800,900);
@import "_null.scss";
@import "_button.scss";
.container {
	max-width: 1170px;
	margin: 0 auto;
}
@import "_header";
main {
	@media (max-width: 960px) {
		.about-me {
			flex-wrap: wrap-reverse;
			justify-content: center;
			text-align: center;
			row-gap: 30px;

			&__img {
				margin-bottom:25px;
				img {
					max-height: 100%;
					max-width: 100%;
				}
			}
		}
		.content {
			&__title::before {
				left: 47%;
			}
			&__text{
				max-width: 600px;
			}
		}
	}
}
.about-me {
	display: flex;
	column-gap: 50px;
	align-items: center;
	height: auto;
	padding: 110px 0px;
	&__img {
		img {
			max-height: 443px;
			max-width: 571px;
		}
	}
}
.content {
	&__title {
		position: relative;
		letter-spacing: 7px;
		font-size: 46px;
		font-family: "Asap";
		color: rgba(77, 77, 77, 0.8);
		font-weight: bold;
		line-height: 1.065;
	}
	&__title::before {
		position: absolute;
		bottom: 90px;
		display: block;
		left: 0;
		width: 55px;
		height: 4px;
		background-color: rgba(77, 77, 77, 0.8);
		content: "";
		margin-bottom: 19px;
	}

	&__text {
		font-size: 16px;
		font-family: "Asap";
		color: rgb(77, 77, 77);
		line-height: 1.625;
	}

	&__button {
		margin-top: 38px;
		@extend %btn;
		button {
			width: 245px;
			height: 50px;
		}
	}
}
.service {
	background-color: #f6f6f6;
	padding-top: 142px;
	padding-bottom: 120px;
	&__body {
		align-items: center;
		height: auto;
	}

	&__title {
		letter-spacing: 7px;
		font-size: 46px;
		font-family: "Asap";
		color: rgba(77, 77, 77, 0.8);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.065;
		text-align: center;
		margin-bottom: 70px;
	}
	&__title::before {
		display: block;
		width: 60px;
		height: 4px;
		background-color: rgba(77, 77, 77, 0.8);
		content: "";
		margin-bottom: 19px;
		margin-left: 47.5%;
	}
	.service__container {
		display: flex;
		flex-wrap: wrap;
		column-gap: 200px;
		row-gap: 88px;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
}

.container-service {
	&__item {
		width: 200px;
	}

	&__icon {
		margin-bottom: 20px;
	}

	&__title {
		font-size: 24px;
		font-family: "Asap";
		color: rgb(77, 77, 77);
	}
}
.my-skills {
	&__body {
		padding-top: 118px;
		padding-bottom: 125px;
		text-align: center;
		height: auto;
	}

	&__title {
		letter-spacing: 7px;
		font-size: 46px;
		font-family: "Asap";
		color: rgba(77, 77, 77, 0.8);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.065;
		margin-bottom: 70px;
	}
	&__title::before {
		display: block;
		width: 60px;
		height: 4px;
		background-color: rgba(77, 77, 77, 0.8);
		content: "";
		margin-bottom: 19px;
		margin-left: 47.5%;
	}
	&__img {
		img {
			width: 100%;
			height: 100%;
		}
	}
}
.portfolio {
	background-color: #f6f6f6;
	&__body {
		text-align: center;
		padding-top: 150px;
		height: auto;
	}

	&__title {
		letter-spacing: 7px;
		font-size: 46px;
		font-family: "Asap";
		color: rgba(77, 77, 77, 0.8);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.065;
		margin-bottom: 70px;
	}
	&__title::before {
		display: block;
		width: 60px;
		height: 4px;
		background-color: rgba(77, 77, 77, 0.8);
		content: "";
		margin-bottom: 19px;
		margin-left: 47.5%;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 30px 25px;
		justify-content: center;
		align-items: center;
	}
	&__button {
		margin-top: 27px;
		padding-bottom: 123px;
		@extend %btn;
		button {
			height: 50px;
			width: 190px;
		}
	}
}

.container-portfolio {
	&__item {
		img {
			max-height: 316px;
			max-width: 365px;
			width:100%;
			height:100%;
		}
	}
}
.testimonials {
	&__body {
		height: 711px;
		text-align: center;
	}

	&__title {
		letter-spacing: 7px;
		margin-top: 125px;
		font-size: 40px;
		font-family: "Asap";
		color: rgba(77, 77, 77, 0.8);
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.065;
		margin-bottom: 70px;
	}
	&__title::before {
		display: block;
		width: 60px;
		height: 4px;
		background-color: rgba(77, 77, 77, 0.8);
		content: "";
		margin-bottom: 19px;
		margin-left: 47.5%;
	}

	&__container {
		display: flex;
		text-align: left;
		column-gap: 30px;
		border: 1px solid black;
		padding: 82px 120px;
		margin: 0px 20px;
	}
	@media (max-width:960px){
		.container-testimonials {
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			padding:20px 50px;
			&__avatar {
			}
		
			&__content {
			}
		}
		.button-testimonials {
			margin-top: 30px;
			margin-left: 45%;
		}
		.content-testimonials{
			&__text{
				overflow: auto;
				height: 100px;
			}
		}
	}
}

.container-testimonials {
	&__avatar {
	}

	&__content {
		margin-top: 10px;
		max-width: 698px;
		max-height: 234px;
	}
}
.content-testimonials {
	&__title {
		font-size: 30px;
		font-family: "Asap";
		color: rgba(33, 33, 33, 0.902);
		text-transform: uppercase;
	}

	&__subtitle {
		font-size: 12px;
		font-family: "Asap";
		color: rgba(33, 33, 33, 0.902);
		font-style: italic;
		text-transform: uppercase;
		line-height: 3;
	}

	&__text {
		font-size: 16px;
		font-family: "Asap";
		color: rgba(33, 33, 33, 0.6);
		text-transform: uppercase;
		line-height: 2;
	}

	&__button {
		display: flex;
		column-gap: 4px;
	}
}
.button-testimonials {
	margin-top: 60px;
	margin-left: 35%;
	&__item {
		height: 12px;
		width: 12px;
		border: 1px solid black;
		transition: 0.5s;
	}
	&__item:hover {
		background-color: black;
	}
}
.results {
	background-color: #f6f6f6;

	&__body {
		height: auto;
	}

	&__container {
		background-color: #f6f6f6;
		padding-top: 75px;
		padding-bottom: 66px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		row-gap: 40px;
		column-gap: 120px;
		text-align: center;
	}
}
.container-results {
	&__item {
		width: 200px;
	}

	&__img {
		margin-bottom: 20px;
		img {
			height: 98px;
			width: 98px;
		}
	}

	&__title {
		font-size: 22px;
		font-family: "Asap";
		color: rgba(33, 33, 33, 0.902);
		text-transform: uppercase;
		line-height: 1.455;
	}

	&__subtitle {
		font-size: 22px;
		font-family: "Asap";
		color: rgba(33, 33, 33, 0.8);
		text-transform: uppercase;
		line-height: 1.455;
	}
}
@import "_footer";
